-var product = [{"name": "Xịt lau bếp Stain Remover, khăn lau đa năng Micro Fiber","desc": "EcoClean FOG là sản phẩm làm sạch dầu mỡ chuyên dụng, dạng lỏng. Được sản xuất trên dây chuyền hiện đại của Mỹ với công thức độc quyền là sự phối trộn nhiều","price": "245,000 đ","discount":"250,000 đ","formality":"Trong đến trắng","smell":"Mùn","form":"Lỏng","pH":"6.8 - 8.5","exp":"2 năm","firePoint":"Không"}]
include include/template_v2
include include/product-item
+template("Product Detail","product-detail")
    .body-detail
        each pro in product
            .body-detail-product
                .body-detail-product-detail
                    .body-detail-product-detail-large-img
                        img(src="../../src/img/product-selling-2.png" id="main-img")
                    .body-detail-product-detail-small-img
                        .img-detail
                            img(src="../../src/img/product-selling-1.png" onclick="handleChangeImage('one')" id="one")
                            img(src="../../src/img/product-selling-3.png" onclick="handleChangeImage('two')" id="two")
                            img(src="../../src/img/product-selling-4.png" onclick="handleChangeImage('three')" id="three")
                        .btn-product-next
                .body-detail-product-describe
                    .body-detail-product-describe-container
                        .name-container= pro.name
                        .desc-container= pro.desc
                        .price-container
                            .price-discount= pro.discount
                            .price-real= pro.price
                        .capacity-container Dung tích
                            .capacity-content
                                .capacity-content-item
                                    input(type="radio" checked="checked" name="radio").btn-radio
                                    .text-capacity 1 lít
                                .capacity-content-item
                                    input(type="radio" checked="checked" name="radio").btn-radio
                                    .text-capacity 2 lít
                        .order-container
                            .count-container
                                .btn-decrease
                                    img(src="../../../src/img/btn-decrease.svg", alt="")
                                .value-cart 2
                                .btn-increase
                                    img(src="../../../src/img/btn-increase.svg", alt="")
                            .btn-order                        
                                button(type="button")
                                    span Đặt hàng
            .body-detail-property
                .body-detail-property-img
                    img(src="../../../src/img/property-product.png")
                .body-detail-property-typical
                    .property-title Tính chất điển hình của sản phẩm
                    .property-content
                        .name-property
                            p Hình thức:
                            p Mùi:
                            p Dạng:
                            p pH:
                            p Hạn sử dụng:
                            p Điểm cháy:
                        .product-property
                            p= pro.formality
                            p= pro.smell
                            p= pro.form
                            p= pro.pH
                            p= pro.exp
                            p= pro.firePoint
            .body-detail-information
                .body-detail-information-product Thông tin sản phẩm
                .body-detail-information-content
                    .body-detail-information-content-img
                        img(src="../../../src/img/propety-product-2.png")
                    .body-detail-information-content-text
                        .infor-uses
                            .infor-uses-title Cách sử dụng vi sinh xử lý đầu mỡ EcoClean FOG
                            .infor-uses-content
                                ul(type="disc")
                                    li Phân hủy rộng các hợp chất hữu cơ phức tạo. 
                                    li Hạn chế mùi phát sinh tại nguồn xả. 
                                    li Phân hủy chất béo và mỡ tích tụ. 
                                    li Giảm bùn tích tụ. 
                                    li Tăng cường loại bỏ BOD/COD. 
                                    li Giảm H2S. 
                                    li Bao gồm quá trình phân hủy kỵ khí tùy nghi. 
                                    li Thay đổi động học sinh khối. 
                                    li Kinh tế/Dễ sử dụng. 
                                    li Không cần thiết bị hỗ trợ. 
                                    li Không chứa hóa chất. 
                                    li Tăng hiệu quả hệ thống. 
                                    li Giảm đáng kể công lao động.
                .body-detail-information-final
                        .infor-using
                            .infor-using-title Cách sử dụng vi sinh xử lý dầu mỡ EcoClean FOG
                            .infor-using-content
                                p  Dưới đây là hướng dẫn và liều lượng sử dụng vi sinh ăn mỡ EcoClean FOG chuẩn để bạn tham khảo như sau:
                                ul(type="disc")
                                    li Nên tạm ngừng toàn bộ hoạt động xả thải trước khi sử dụng sản phẩm, nhất là không xả nước nóng xuống đường ống để đảm bảo vi sinh vật đạt số lượng cao nhất và khả năng sống tốt nhất;
                                    li Nên sử dụng vi sinh EcoClean FOG vào buổi tối trước khi đi ngủ hoặc ngưng đường ống trong khoảng 6-8 giờ.
                        .infor-application-industry
                            .infor-application-industry-title Khối ngành ứng dụng EcoClean FOG
                            .infor-application-industry-content
                                ul(type="disc")
                                    li Khối ngành ứng dụng EcoClean FOG
                                    li Nhà hàng, khách sạn, resort.
                                    li Chế biến thực phẩm, sản xuất nước giải khát.
                                    li Bẫy mỡ bảo trì đường cống dẫn.
                                    li Xử lý dầu mỡ trong nước thải
                                    li Làm sạch bề mặt sàn.
                                    li Khử mùi.
                                    li RV, Toilet di động, hầm tự hoại.
                                    li Thú nuôi và trại nuôi.
                                    li Thiết bị tăng tốc, ủ phân compost.
                                    li Nước thải chế biến thực phẩm, chế biến thịt.
                                    li Nước thải có chứa nhiều chất hoạt động bề mặt và xà phòng.
                        .infor-application-system
                            .infor-application-system-title Hệ thống ứng dụng EcoClean FOG
                            .infor-application-system-content
                                p Trạm thu; Trạm bơm; Mương Oxy hóa; RBCS; Bể lọc; Bể lắng; Ao hồ; Đường cống dẫn Inhoff Tanks; Bẫy mỡ. 
                                p Hợp chất phân hủy
                                p Fats Oils & Grease;  Starches; Proteins; Malodors;  Animal Fats, Triglycerides; Foaming   Surfactants; Soaps Amines Organics.
                                br
                                p Enzyme hoạt tính
                                p - Protease (Casein Digesting)........................................... Units/Gram: 35,000 Min
                                p - Amylase (Modified Wohlgemuth).................................. Units/Gram: 55,000 - 80,000
                                p - Lipase (USP)................................................................. Units/Gram: 400
                                p - Cellulase (CAU)............................................................ Units/Gram: 150 Min
            .body-detail-video
                .body-detail-video-title Video sản phẩm
                .body-detail-video-content
                    iframe(src="https://www.youtube.com/embed/tgbNymZ7vqY")
            .body-detail-relate-product
                .body-detail-relate-product-title Sản phẩm liên quan
                .body-detail-relate-product-content
                    +listProduct
            .body-detail-seen-product
                .body-detail-seen-product-title Sản phẩm đã xem
                .body-detail-seen-product-content
                    +listProduct


            